---
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

// https://docs.astro.build/en/guides/typescript/#built-in-html-attributes
import type { HTMLAttributes } from 'astro/types';

// TODO: check the following astro component 'astro-link'
// https://github.com/JulianCataldo/web-garden/tree/develop/components/Link

// https://docs.astro.build/en/guides/typescript/#component-props
interface Props {
  href: string;
  external?: boolean;
}

const { href, external = href.startsWith('http') } = Astro.props;

// https://docs.astro.build/en/reference/configuration-reference/#base

let extraLinkProps: HTMLAttributes<'a'> = {
  href,
  rel: 'noopener nofollow',
  target: '_blank'
};

if (!external) {
  const baseUrl = `${import.meta.env.BASE_URL}`;

  extraLinkProps = {
    href:
      href === '/'
        ? `${baseUrl}`
        : `${baseUrl}${!href.startsWith('/') ? '/' : ''}${href}`,
    rel: 'prefetch'
  };
}

// Styled by Tailwind :)
---

<a
  {...extraLinkProps}
  class="p-4 underline transition-colors duration-200 ease-in-out hover:text-purple-500"
>
  <slot />
</a>
