---
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

// https://docs.astro.build/en/guides/typescript/#component-props
interface Props {
  href: string;
}

const { href } = Astro.props;

// Styled by Tailwind :)
---

<a
  href={href}
  class="p-4 underline transition-colors duration-200 ease-in-out hover:text-purple-500"
>
  <slot />
</a>
